---
title: Home
---

<div class="media">
  <% link_to '/', :class => 'media-left media-middle' do %>
    <%= image_tag 'dimzava.jpg', :class => 'img-circle', :width => '113', :height => '113' %>
  <% end %>
  <div class="media-body">
    Hi, I'm Dimitris Zavaliadis, a software engineer and technical manager from Thessaloniki, Greece.
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    <p>
      I have significant experience with Enterprise Java
      (especially the <%= link_to 'Spring', 'http://spring.io', :target => '_blank' %> flavour of it) and
      alternative lightweight JVM technologies (<%= link_to 'Groovy', 'http://groovy-lang.org', :target => '_blank' %>, 
      <%= link_to 'Grails', 'https://grails.org', :target => '_blank' %>, 
      <%= link_to 'Ratpack', 'http://www.ratpack.io', :target => '_blank' %>), 
      although I try to be open minded with regards to software development, constantly playing around with 
      technology and learning new things. My goal is basically to make my job as easy as possible while 
      still delivering quality work.
    </p>
    <p>
      For the past five years I've been working with
      <%= link_to 'Q&amp;R', 'http://www.qnr.com.gr', :target => '_blank' %> and 
      <%= link_to 'Cedefop', 'http://www.cedefop.europa.eu', :target => '_blank' %>
      to improve the <%= link_to 'Europass', 'http://europass.cedefop.europa.eu', :target => '_blank' %> services. 
      Outside work, you can frequently <%= link_to 'find me', 'https://github.com/dimzava', :target => '_blank' %> 
      on GitHub spending time on various open source and side projects.
    </p>
    <p>
      Check my <%= link_to 'Resume', 'resume.html' %> and
      <%= link_to 'Projects', 'projects.html' %> for further details.
    </p>
  </div>
</div>